ADDR=:8080

# Postgres settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=social

# Local host settings for tools running on your machine (e.g. air).
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# App runtime settings
DB_ADDR=postgres://postgres:your_password@localhost:5433/social?sslmode=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_MAX_IDLE_TIME=15m

# sendgrid
SENDGRID_API_KEY=your_sendgrid_api_key_here
FROM_EMAIL=your-email@example.com
SECRET=your_secret_here

# MailTrap
MAILTRAP_API_KEY=your_mailtrap_api_key_here
MAIL_TRAP_API_KEY=your_mailtrap_api_key_here

# Environment
ENV=development

# Frontend
FRONTEND_URL=http://localhost:5173
EXTERNAL_URL=localhost:8080
CORS_ALLOWED_ORIGIN=http://localhost:5173

# Redis Configuration (Cache)
REDIS_ENABLED=false
REDIS_ADDR=localhost:6379
REDIS_PS=
REDIS_DB=0

# Authentication
AUTH_BASIC_USER=admin
AUTH_BASIC_PASS=admin
AUTH_TOKEN_SECRET=your_secret_token_here

# Rate Limiter
RATE_LIMITER_ENABLED=true
RATELIMITER_REQUEST_COUNT=20
